header.site-header {
  background: url("../rocks-close-to-the-edge.jpg") no-repeat 50% 50%,
  linear-gradient(0deg,
    transparent,
    transparent 30%,
    rgba(0, 0, 0, 0.35) 65%,
    rgba(0, 0, 0, 0.95));
  min-height: 68vh;
  background-size: cover;
  color: white;

  .site-title {
    font-weight: bold;
  }
  .site-title, nav a {
    color: #111;
  }

  .nav {
    background: white;
    padding: 0.25em 1em;
  }

  .donate {
    background-color: #f9ebcd;
  }
}
