#mc_embed_signup {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fdfdfd !important;
  margin-bottom: 1em;

  input.email {
    width: 100% !important;
  }

  input.button {
    margin: 0 auto !important;
    min-width: 55% !important;
  }
}
